/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* font-family: 'Roboto', sans-serif;  */
/* font-family: "Oswald", sans-serif; */

:root {
  --color1: #dadfe3;
  --color2: #fe6b68;
  --color3: #eed971;
  --color4: #d894ff;
  --color5: #232323;
  --color6: #fff;
  --color7: #e7ecef;

  --color8: #282c33;
  --color9: #c0c0c0;
  --color10: rgba(242, 245, 250, 0.6);
  --color11: #ab54db;

  --curve: 40;

  --body-fonts: "Oswald", sans-serif;
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --night-300: hsl(217, 27%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: #f3f2f7;
  /* background-image: linear-gradient(to right top, #695f65, #655c65, #615965, #5b5665, #545465, #4f5160, #4a4d5c, #454a57, #42444e, #3d3e44, #38383c, #333333);   */
}

h2 {
  color: var(--color4);
}

a {
  text-decoration: none;
  color: #1d2128;
  cursor: pointer;
}

a:hover {
  color: var(--color2);
}
ul {
  list-style: none;
}

.icon {
  border: none;
}
