@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.btn-primary {
  padding: 0.75rem 1.5rem;
  color: var(--color6);
  background-color: var(--color4);
  box-shadow: var(--shadow-medium);
}
.btn-darken {
  padding: 0.75rem 1.5rem;
  color: var(--color6);
  background-color: var(--night-300);
  box-shadow: var(--shadow-medium);
}

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  text-wrap: nowrap;
  color: var(--color6);
  text-transform: uppercase;
  order: 1;
}

/* General CSS adjustments */
.navbar {
  background-color: var(--color4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Flex properties to ensure visibility on mobile */
.navbar-left, .navbar-center, .navbar-right {
  display: flex;
  align-items: center;
}

/* Ensure navbar-right is properly displayed on smaller screens */
@media only screen and (max-width: 992px) {
  .navbar-right {
    display: flex !important;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .navbar-center {
    flex: 0 0 100%;
    order: 3;
    align-items: center;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 75%; */
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transform: translate(-100%);
    background-color: var(--color6);
    transition: all 0.4s ease-in-out;
  }
  .menu.is-active {
    transform: translate(0%);
  }


}

/* Other CSS properties as required */
  
.menu-header {
  display: none;
  box-shadow: var(--shadow-medium);
}
.menu-item {
  display: inline-block;
  line-height: 1.5;
  padding-right: 1.25rem;
}
.menu-link {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
  text-transform: capitalize;
  transition: all 0.25s ease;
}
.menu-link > svg {
  font-size: 1.35rem;
  margin-left: 0.25rem;
  transform: rotate(90deg);
}
.darkmode .menu-link {
  color: var(--color6);
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  font-size: 1.45rem;
  color: #333;
  transition: all 0.25s ease;
}
.darkmode .menu-icon {
  color: var(--color6);
}
@media only screen and (min-width: 993px) {
  .menu-dropdown:hover > .submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .menu-header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    z-index: 110;
    visibility: hidden;
    background: transparent;
  }
  .menu-header.is-active {
    visibility: visible;
    background-color: var(--color6);
  }
  .menu-header.is-active > .menu-arrow {
    display: block;
  }

  .menu-arrow {
    display: none;
    cursor: pointer;
    width: 3rem;
    height: 4rem;
    text-align: center;
  }
  .menu-arrow > svg {
    font-size: 1.5rem;
    line-height: 4rem;
    color: #333;
    transition: all 0.25s ease;
  }

  .menu-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: capitalize;
    color: #333;
  }

  .menu-inner {
    height: 87%;
    margin-top: -3rem;

    overflow-y: auto;
    overflow-x: hidden;
  } 
  .menu-item {
    display: block;
    line-height: 1;
    padding-inline: 0;
  }
  .menu-link {
    justify-content: space-between;
    height: 3.5rem;
    line-height: 2.5rem;
    padding-inline: 1.25rem;
  }
  .menu-link > svg {
    margin-left: 0.5rem;
    transform: rotate(0deg);
  }
}

.submenu {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 1.75rem;
  padding: 1rem 2rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  border-top: 2px solid var(--color4);
  background-color: var(--color6);
  box-shadow: var(--shadow-medium);
  transition: all 0.25s ease-in-out;
}

.submenu-inner {
  flex: 0 0 25%;
  padding: 0 1rem;
}
.submenu-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 0;
  color: var(--color4);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.submenu-item {
  display: block;
  line-height: 1;
  margin: 0 auto;
}
.submenu-link {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  padding: 0.75rem 0;
  white-space: nowrap;
  text-transform: capitalize;
  color: #333;
  transition: all 0.25s ease-in-out;
}

.submenu-image {
  display: block;
  width: 100%;
  height: auto;
  margin-block: 0.5rem;
  object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .submenu {
    position: absolute;
    /* display: none;$ */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    box-shadow: none;
    transform: translateX(0%);
  }
  .submenu.is-active {
    display: block;
  }
  .submenu-inner {
    flex: 0 0 100%;
    padding: 0rem;
  }
  .submenu-list {
    margin-bottom: 1rem;
  }
  .submenu-link {
    display: block;
  }
  .submenu-image {
    margin-top: 0;
  }
}

.megamenu {
  left: 50%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transform: translateX(-50%);
}
.megamenu-column-1 {
  left: 91.99%;
  max-width: 15rem;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1440px) {
  .megamenu-column-1 {
    left: 90.99%;
  }
}
@media screen and (max-width: 1024px) {
  .navbar-center {
    text-align: center;
  }
  .megamenu-column-1 {
    left: 87.99%;
  }
}

.megamenu-column-1 .submenu-inner .submenu-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.megamenu-column-1 .submenu-inner > a:hover {
  background-color: var(--color9);
  color: var(--color6);
  border-radius: 50px;
}

.megamenu-column-4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 62rem;
  height: auto;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .megamenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
    box-shadow: none;
  }
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease-in-out;
}
@media only screen and (max-width: 992px) {
  .overlay.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  width: 1.6rem;
  height: 1rem;
  margin-right: 1rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
@media only screen and (max-width: 992px) {
  .burger {
    opacity: 1;
    visibility: visible;
  }
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 1rem;
  background: var(--color2);
}

.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}

#navbar-search {
  display: flex;
  align-items: center;
}

#navbar-search input[type="text"] {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  outline: none;
}

#navbar-search button {
  width: 50px;
  height: 30;
  border: none;
  border-radius: 50%;
  background-color: #ffffff00;
  color: var(--bg-color);
  cursor: pointer;
  outline: none;
}

#navbar-search span {
  color: var(--font-color);
  font-size: 25px;
}

@media (max-width: 480px) {
  #navbar-search {
    margin: 10px 0;
  }

  #navbar-search input[type="text"] {
    width: 80%;
  }
}
