.mob-view-cart,
.checkout-cart {
  display: none;
}

.cart_products,
.add_check {
  border: 3px solid #eee;
  background-color: #f3f3f9;
  padding: 25px;
  border-radius: 20px;
}

.cart_items {
  border: 2px solid #eee;
  border-radius: 15px;
  padding: 12px;
}

.cart_items .cart_item_img {
  width: 100px;
}
.cart_items .cart_item_img > img {
  border-radius: 15px;
}

.cart_items .cart_item_count svg {
  border: 1px solid #333;
  /* padding: px; */
  border-radius: 50px;
}

.add_check {
  background-color: #f3f3f9;
}

@media screen and (min-width: 767px) {
  .cart_products {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .cart_products,
  .add_check {
    display: none !important;
  }

  .mob-view-cart,
  .checkout-cart {
    display: block;
    padding: 15px;
    border: 3px solid #eee;
    border-radius: 20px;
    background-color: #f3f3f9;
  }

  .mob-view-cart .single-item {
    padding: 5px;
  }
  /* .mob-view-cart .single-item .item-details {
    display: flex;
    
    } */
  .mob-view-cart .single-item .item-details .single-item-img {
    max-width: 20%;
  }

  .mob-view-cart .single-item .item-details .single-item-img img {
    width: 100%;
    border-radius: 15px;
    /* float: left; */
  }

  .checkout-cart .checkout-btn > a > span {
    color: #333;
    background-color: #fff;
    margin-left: 5px;
    padding: 0 6px;
    border-radius: 100px;
  }

  .back-to-home > a,
  .remove-all > button {
    background-color: #fff !important;
    border: 1px solid var(--color4);
  }
  .back-to-home > a > svg,
  .remove-all > button > svg {
    color: var(--color4);
  }
}
