.cart_products,.add_check {
  border: 3px solid #eee;
  padding: 25px;
  border-radius: 20px;
}

.cart_items {
  border: 2px solid #eee;
  border-radius: 15px;
  padding: 12px;
}

.cart_items .cart_item_img {
  width: 100px;
}
.cart_items .cart_item_img > img {
  border-radius: 15px;
}

.cart_items .cart_item_count svg {
  border: 1px solid #333;
  /* padding: px; */
  border-radius: 50px;
}





.add_check{
    background-color: #f3f3f9;
}